.task {
  padding: 1rem;
  background: var(--gray-400);
  border: solid 1px var(--gray-400);
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 0.875rem;
  color: var(--white);
}

.inputTaskName {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}